/* By Jeremy Smolens */

:root{
  --main-color: rgb(10, 186, 194);
  --text-color: rgb(97, 97, 97);
}

*{
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: sans-serif;
}

body{
  margin: 0;
  padding: 0;
}

h2{
  color: var(--main-color);
}

#background1{
  background-image: linear-gradient(rgba(14, 224, 215, 0.2), rgba(255, 255, 255, 0.7)), url(Vietnam2.jpg);
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-size: cover;
}

#mainHeader{
  height: auto;
  width: 100%;
  text-align: center;
  z-index: 1;
}

#mainContainer{
  margin-top: 15%;
  color: var(--text-color);
}

#avatar{
  margin-top: 4%;
  height: auto;
  width: 31%;
  margin-bottom: 4%;
}

#title{
  position: absolute;
  margin-left: 30%;
  margin-top: 0%;
  background: rgba(10, 186, 194, 0.5);
  width: 40%;
  height: auto;
  text-align: center;
}

.btn{
  border-color: var(--text-color);
  background-color: white;
  color: var(--text-color);
}

.btn:hover{
  border: none;
  color: white !important;
  background-color: var(--main-color);
}

#tableHeader{
  color: var(--main-color);
  font-size: 45px;
}

#projectTable{
  color: var(--text-color);
}

.resume{
  width: 700px;
  height: 906px;
}
